setuptools
bob.extension
bob.io.base
bob.measure
bob.db.atnt  # required for testing
bob.bio.base
bob.pipelines
matplotlib   # for plotting
six
scikit-image
scikit-learn # for pipelines Tranformers
torch
torchvision
imageio-ffmpeg
pytorch-lightning
opencv-python
